.car-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* Tablet */
@media (min-width: 640px) {
  .car-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .car-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Duży ekran */
@media (min-width: 1280px) {
  .car-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}