<section class="cta-section">
  <!-- background -->
  <div class="cta-bg-pattern">
    <div class="pattern-overlay"></div>
  </div>

  <!--  CTA content -->
  <div class="cta-content">
    <h2 class="cta-title">
      GOTOWY DO
      <br />
      JAZDY?
    </h2>
    <p class="cta-subtitle">
      Zarezerwuj online w 3 minuty. Bez depozytu przy płatności kartą.
    </p>
    <a routerLink="/fleet" class="btn-cta">
      Zarezerwuj teraz
      <span class="arrow-icon">→</span>
    </a>
  </div>
</section>