<div class="sort-bar">

  <div class="results">
    <span>
      {{ carsCount() }}
      {{ getCarsLabel() }}
    </span>
  </div>

  <div class="sort-control">

    <label for="sort">
      Sortuj:
    </label>

    <select 
      id="sort"
      [value]="selectedSort"
      (change)="onSortChange($any($event.target).value)">

      <option value="priceAsc">
        Cena: rosnąco
      </option>

      <option value="priceDesc">
        Cena: malejąco
      </option>

      <option value="newest">
        Najnowsze
      </option>

    </select>

  </div>

</div>