<aside class="filters">

   <div class="filter-header">
    <fa-icon [icon]="faSliders"></fa-icon>
    <span>FILTRY</span>
    @if (activeFiltersCount > 0) {
    <span class="filter-count">
      {{ activeFiltersCount }}
    </span>
  }
  </div>

  <!-- Search -->
  <div class="filter-group">
    <div class="search-box">
      <fa-icon
        [icon]="faSearch"
        class="search-icon">
      </fa-icon>

      <input
        type="text"
        placeholder="Szukaj modelu..."
        class="search-input"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange()">
    </div>
  </div>


  <!-- Category -->
  <div class="filter-group">

    <h3 class="filter-label">
      Kategoria
    </h3>

    <div class="category-list">

      @for (category of categories; track category) {

        <button 
          class="category-btn"
          (click)="onCategoryChange(category)"
          [class.active] = "category === selectedCategory"
        >

          <span>{{ category }}</span>

          <span class="category-count">
            {{ getCategoryCount( category ) }}
          </span>

        </button>

      }

    </div>

  </div>


  <!-- Prize -->
  <div class="filter-group">

    <h3 class="filter-label">
      Cena za dzień
    </h3>

    <div class="price-range-header">
      <span class="price-min">
        {{ minPrice }} zł
      </span>

      <span class="price-max">
        do {{ selectedMaxPrice }} zł
      </span>
    </div>

    <input
      type="range"
      [min]="minPrice"
      [max]="maxPrice"
      [step]="50"
      [(ngModel)]="selectedMaxPrice"
      (ngModelChange) = "onPriceChange()"
      class="range-input">

  </div>


  <!-- Fuel -->
  <div class="filter-group">

    <h3 class="filter-label">
      Rodzaj paliwa
    </h3>

    <div class="filter-chips">

      @for (fuel of fuels; track fuel) {

        <button 
          class="chip-btn"
          (click)="onFuelChange(fuel)"
          [class.active]="fuel === selectedFuel">
          {{ fuel }}
        </button>

      }

    </div>

  </div>


  <!-- Transmission -->
  <div class="filter-group">

    <h3 class="filter-label">
      Skrzynia biegów
    </h3>

    <div class="button-group">

      @for (transmission of transmissions; track transmission) {

        <button class="group-btn"
        (click)="onTransmissionChange(transmission)"
        [class.active]="transmission === selectedTransmission">

          {{ transmission === 'Obie'
              ? 'Obie'
              : transmission }}

        </button>

      }

    </div>

  </div>


  <!-- Seats -->
  <div class="filter-group">

    <h3 class="filter-label">
      Liczba miejsc
    </h3>

    <div class="button-group flex-wrap">

      @for (seat of seatsOptions; track seat) {

        <button 
        class="square-btn"
        (click)="onSeatsChange(seat)"
        [class.active]="seat === selectedSeats">

          {{ seat }}

        </button>

      }

    </div>

  </div>


  <!-- available only -->
  <div class="filter-group">

    <label 
    class="toggle-label"
    (click)="onAvailableChange()">

      <div 
      class="toggle-switch"
      [class.active]="availableOnly">

        <div class="toggle-thumb"
        [class.active]="availableOnly"
        ></div>
      </div>

      <span class="toggle-text">
        Tylko dostępne
      </span>

    </label>

  </div>


  <!-- Reset -->
  <button 
    class="reset-filters-btn"
    (click)="onResetFilters()">

    <fa-icon [icon]="faRotateLeft"></fa-icon>

    Wyczyść filtry

  </button>

</aside>